name: CICD

on:
  push:
    branches: [deploy-to-ec2]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build Project
        run: mvn clean install -DskipTests

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t damuleli/authorization-server .

      - name: Publish image to Docker Hub
        run: docker push damuleli/authorization-server:1.0.0

  deploy:
    needs: build
    runs-on: aws-ec2  # Ensure you have a self-hosted runner labeled 'aws-ec2'

    steps:
      - name: Pull the image from Docker Hub
        run: docker pull damuleli/authorization-server:1.0.0

      - name: Delete old containers
        run: docker rm -f authorization-server-container || true  # Ignore error if the container does not exist

      - name: Run Docker as container
        run: docker run -d -p 8091:8091 --name authorization-server-container damuleli/authorization-server